<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pro.dbro.gameshow" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />
    <uses-feature android:name="android.hardware.gamepad" android:required="false"/>
    <!-- I want microphone to be required. Android TV docs say microphone
         isn't available on Android TV. -->
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:name=".App"
        android:icon="@drawable/ic_launcher"
        android:banner="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Leanback"
        android:isGame="true" >
        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|navigation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.QuestionActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:theme="@style/Transparent">
        </activity>

        <service android:name="pro.dbro.airshare.app.AirShareService"/>

    </application>

</manifest>
